section
  h2(style="font-variant: small-caps") (New Adventures in)
  h1(style="font-variant: small-caps") Puzzle Fonts<br>About Puzzles
  hr
  h4
    u Erik Demaine
    span.sep &bull;
    | Martin Demaine
    span.sep &bull;
    | @ M.I.T.
  .columns.bg-white.r-stretch(style="margin-top: 60px")
    .column.fill(style="flex-basis: 20%")
      iframe.h-100.bg-white(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=f&anim=0", data-preload, frameborder=0, style="padding-top: 5px")
    .column.fill(style="flex-basis: 20%")
      iframe.h-100.bg-white(data-src="https://erikdemaine.org/fonts/sudoku/?hud=0&text=o&size=200&mode=solved", data-preload, frameborder=0, style="padding-top: 5px")
    .column.fill(style="flex-basis: 18%")
      iframe.h-100.bg-white(data-src="https://erikdemaine.org/fonts/yinyang/?hud=0&text=n&size=180&font=solved", data-preload, frameborder=0, style="padding-top: 5px")
    .column.fill(style="flex-basis: 22%")
      iframe.h-100.bg-white(data-src="https://erikdemaine.org/fonts/pathpuzzles/?hud=0&text=t&size=215&font=solved", data-preload, frameborder=0, style="padding-top: 0px")
    .column.fill(style="flex-basis: 20%")
      iframe.h-100.bg-white(data-src="https://erikdemaine.org/fonts/tatamibari/?hud=0&text=s&size=180&font=solved", data-preload, frameborder=0, style="padding-top: 25px")

section
  div.bg-white
    img(src="images/nyt_logo.png").m-0
    img(src="images/nyt_title.png").m-0
    img(src="images/nyt_image.png").m-0
  a(href="https://www.nytimes.com/2021/06/25/science/puzzles-fonts-math-demaine.html") https://www.nytimes.com/2021/06/25/science/ puzzles-fonts-math-demaine.html

section
  //h2 Tetris Font
  iframe.r-stretch.bg-white(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=tetris%0A++font&speed=2")

section
  h2 Tetris Font
  iframe.r-stretch.bg-white(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=abcdefghi%0Ajklmnopqr%0Astuvwxyz&speed=2")
  ul
    li <b>NP-complete</b> with 8 columns or 4 rows
      cite.ml-2(style="font-size:80%") [Asif, Coulombe, Demaine, Demaine, Hesterberg, Lynch, Singhal 2020]

section
  h2 Puzzle Font: Falling
  .r-stack.r-stretch
    div
      iframe.r-stretch.bg-white(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=+gathering%0Afor++gardner&anim=0&puzzle=1", data-preload)
    .fragment
      iframe.r-stretch.bg-white(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=+gathering%0Afor++gardner&puzzle=1")

section
  h2 Puzzle Font: Packing
  .r-stack.r-stretch
    div
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=tetro%0Aminoes&anim=0&black=1", data-preload)
    .fragment
      iframe.bg-white.fade-in(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=tetro%0Aminoes&anim=0", data-preload)
  p
  ul
    li Packings found with
      a(href="http://burrtools.sourceforge.net/").ml-1 Burr Tools

section
  h2 Puzzle Fonts about Puzzles
  ul
    li <b>Mathematical font</b> illustrates mathematical theorems or problems in the glyphs themselves
    li <b>Puzzle font</b> requires solving puzzle to read text
    li <u>Theme today:</u> Fonts <b>about a puzzle</b>/puzzle game
  p
  .r-stack.r-stretch
    div
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=martin+gardner&anim=0&puzzle=1", data-preload)
    .fragment
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=martin+gardner&puzzle=1")

section
  h2 Sudoku
    cite.ml-2 [Howard Garns, 1979]
  p
  .r-stack.r-stretch
    div
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/sudoku/?hud=0&text=sudoku&size=314", style="width:970px")
    .fragment
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/sudoku/?hud=0&text=sudoku&size=314&mode=solved&path=0", style="width:970px", data-preload)
    .fragment
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/sudoku/?hud=0&text=sudoku&size=314&mode=solved", style="width:970px", data-preload)

section
  h2 Sudoku Font
  p
  .r-stack.r-stretch
    div
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/sudoku/?hud=0&text=abcdefghijklmnopqrstuvwxyz&size=153&mode=solved", data-preload)

section
  h2 Sudoku Font Variations
  p
  .r-stack.r-stretch
    div
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/sudoku/?hud=0&text=gggggg&size=314", style="width:970px")

section
  h2 Sudoku Font Puzzles
  p
  .r-stack.r-stretch
    div
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/sudoku/?hud=0&text=mg&size=535&mode=puzzle&hints=1", data-preload)
    .fragment
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/sudoku/?hud=0&text=mg&size=535&mode=solved", data-preload)
  p
  ul
    li <u>Future work:</u> Generate hard Sudoku puzzles

section
  h2 Yin-Yang Puzzles
    cite.ml-2 [<i>Puzzler</i>, 1994]
  p
  .r-stack.r-stretch
    div
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/yinyang/?hud=0&text=yin+yang&size=262", data-preload)
    .fragment
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/yinyang/?hud=0&text=yin+yang&font=solved&size=262", data-preload)

section
  h2 Yin-Yang Font
  p
  .r-stack.r-stretch
    div
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/yinyang/?hud=0&text=abcdefghijklmnopqrstuvwxyz&font=solved&size=117", data-preload)
    .fragment
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/yinyang/?hud=0&text=abcdefghijklmnopqrstuvwxyz&size=117", data-preload)
  p
  ul
    li <b>NP-complete</b>
      cite.ml-2 [Demaine, Lynch, Rudoy, Uno 2021]

section
  h2 Yin-Yang Puzzle
  p
  .r-stack.r-stretch
    div
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/yinyang/g4g.html", data-preload, style="width:680px")
  p
  a(href="https://erikdemaine.org/fonts/yinyang/g4g.html") https://erikdemaine.org/fonts/yinyang/g4g.html

section
  h2 Path Puzzles
    cite.ml-2 [Rod Kimball, 2013]
  p
  .r-stack.r-stretch
    div
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/pathpuzzles/?hud=0&text=pathpuzz&size=268", data-preload)
    .fragment
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/pathpuzzles/?hud=0&text=pathpuzz&size=268&font=solved", data-preload)

section
  h2 Path Puzzle Font
    //cite [Bosboom, Demaine, Demaine, Hesterberg, Kimball, Kopinsky, 2010]
  p
  .r-stack.r-stretch
    div
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/pathpuzzles/?hud=0&text=abcdefghijklmnopqrstuvwxyz&size=130&font=solved", data-preload)
  p
  ul
    li <b>NP-complete</b>
      cite.ml-2 [Bosboom, Demaine, Demaine, Hesterberg, Kimball, Kopinsky, 2010]

section
  h2 Tatamibari
    cite.ml-2 [Nikoli, 2004]
  p
  .r-stack.r-stretch
    //-
      div
        iframe.bg-white(data-src="https://erikdemaine.org/fonts/tatamibari/?hud=0&text=tatamibari&size=213", data-preload)
      .fragment
        iframe.bg-white(data-src="https://erikdemaine.org/fonts/tatamibari/?hud=0&text=tatamibari&size=213&font=solved", data-preload)
      div
        iframe.bg-white(data-src="https://erikdemaine.org/fonts/tatamibari/?hud=0&text=braintease&size=213", data-preload)
      .fragment
        iframe.bg-white(data-src="https://erikdemaine.org/fonts/tatamibari/?hud=0&text=braintease&size=213&font=solved", data-preload)
    div
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/tatamibari/?hud=0&text=np%0Ahard&size=265", data-preload)
    .fragment
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/tatamibari/?hud=0&text=np%0Ahard&size=265&font=solved", data-preload)

section
  h2 Tatamibari Font
  p
  .r-stack.r-stretch
    div
      iframe.bg-white(data-src="https://erikdemaine.org/fonts/tatamibari/?hud=0&text=abcdefghijklmnopqrstuvwxyz&size=129&font=solved", data-preload)
  p
  ul
    li <b>NP-complete</b>
      cite.ml-2 [Adler, Bosboom, Demaine, Demaine, Liu, Lynch 2020]

section
  //h2 Thanks!
  iframe.r-stretch.bg-white(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=thank+you&speed=2&puzzle=1")
  ul
    li Visit
      a(href="https://erikdemaine.org/fonts/").ml-2 https://erikdemaine.org/fonts/
      br
      | to play with these and many more fonts!
    li Yin-Yang puzzle:
      br
      a(href="https://erikdemaine.org/fonts/yinyang/g4g.html") erikdemaine.org/fonts/yinyang/g4g.html
