section
  h1(style="font-variant: small-caps") New Adventures in Puzzle Fonts:
  h2(style="font-variant: small-caps") Introducing “Puzzle Puzzle Fonts”
  hr
  h4
    u Erik Demaine
    span.sep &bull;
    | Martin Demaine
  h4 M.I.T.

section
  //h2 Tetris Font
  iframe.r-stretch.bg-white(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=tetris%0A++font")

section
  h2 Tetris Font
  iframe.r-stretch.bg-white(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=abcdefghi%0Ajklmnopqr%0Astuvwxyz")

section
  h2 Puzzle Font: Falling
  iframe.r-stretch.bg-white(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=tetris%0A++font&anim=0&puzzle=1")

section
  h2 Puzzle Font: Falling
  iframe.r-stretch.bg-white(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=tetris%0A++font&puzzle=1")

section
  h2 Puzzle Font: Packing
  iframe.r-stretch.bg-white(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=tetris%0A++font&anim=0&black=1")

section
  h2 Puzzle Font: Packing
  iframe.r-stretch.bg-white(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=tetris%0A++font&anim=0")

section
  h2 Puzzle Puzzle Fonts
  ul
    li <b>Mathematical font</b> illustrates mathematical theorems or problems in the glyphs themselves
    li <b>Puzzle font</b> requires solving puzzle to read text
    li <b>Puzzle puzzle font</b> is about a puzzle/game
  p
  iframe.r-stretch.bg-white(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=martin+gardner&anim=0&puzzle=1")

section
  h2 Puzzle Puzzle Fonts
  ul
    li <b>Mathematical font</b> illustrates mathematical theorems or problems in the glyphs themselves
    li <b>Puzzle font</b> requires solving puzzle to read text
    li <b>Puzzle puzzle font</b> is about a puzzle/game
  p
  iframe.r-stretch.bg-white(data-src="https://erikdemaine.org/fonts/tetris/?hud=0&text=martin+gardner&puzzle=1")

section
  h2 Conclusion
  ul
    li.fragment Goodbye
